{% extends 'base.html'%}

{% block content %}

    <div style="margin: 2rem; text-align: center">
    <h2 style="font-family: 'Otomanopee One', sans-serif"
    class="m-5">Hi</h2>
    <form action="/accounts/ha_world/"method="post">
        {% csrf_token %}
        <div class="input-group mb-3 w-50 m-auto">
            <input type="text" class="form-control"
                name="hello_world_input">
            <button class="btn btn-dark" type="submit">
                Button
            </button>
        </div>


        <input type="text" name="hello_world_input">
        <input class="btn btn-info rounded-pill px-3 py-3" type="submit">
    </form>
    {% if hello_world_list %}
        {% for hello_world in hello_world_list %}
            <h3>{{ hello_world.text }}</h3>
        {% endfor %}
    {% endif %}
    </div>

{% endblock %}